{% load static %}


<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Tennis Players</title>
  <meta name="description" content="" />
  <meta name="author" content="Sarah Levins" />

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>

  <header>
    <div class='container'>
      <h1>Tennis Players</h1>
    </div>
    {% include './nav.html' %}
  </header>

  {% block content %} {% endblock %}
</body>

</html>